*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 110px;
    background-color: black;
}


#list-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;

    
}

.list-header a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.list-header {
    margin-left: 20px;

}

#menu-principal {
    padding: 150px;
    background-color: grey;
}

#menu-principal h1 {
    font-size: 50px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

#menu-principal p {
    color: white;
    font-size: 25px;
    text-align: center;
}

#menu-principal button {
    padding: 20px;
    border-radius: 15px;
    width: 15rem;
    color: black;
    border-color: white;
    margin: 50px; 
    margin-left: 38%;
    font-size: 15px; 
    justify-content: center;
    text-align: center;
}

#menu-principal button:hover { 
    background-color: grey ; 
    color: white; 
    border-color: white; 
    transition: 0.4s;
}


.img-destaque{
    background-image: url(imagens/Background2.png);
    padding: 30px;
    background-position: center;
    background-size: auto;

}

#second-page {
    padding: 10rem;
    flex-wrap: wrap;
    
}

#second-page h2 {
    font-size: 25px;
    
}

#second-page p {
    font-size: 18px;
    
}

.img-lateral {
    height: 580px;
    width: 420px;
    flex-wrap: wrap;
    margin-left: 70%;
    margin-top: -110%;  
    border-radius: 20px;
    



}


.img-destaque2{
    background-image: url(imagens/Background2.png);
    padding: 30px;
    background-position: center;
    background-size: auto;
    margin-top: 3%;
    }




#third-page {
    padding: 7rem;
    flex-wrap: wrap;

}

#third-page h2 {
    font-size: 25px;
}

#third-page p {
    font-size: 18px;
}

.img-lateral2 {
    height: 500px;
    width: 40%;
    flex-wrap: wrap;
    margin-left: 58%;
    margin-top: -100%;
    border-radius: 20px;
}


#fourth-section{
    background-image: url(imagens/Background.svg);
    padding: 10rem;
    max-width: 100%;


}

#fourth-section h3{
    color: white;
    text-align: center;
    font-size: 34px;
}


footer{
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
}



.footer-contato{
list-style: none;

}

.footer-contato li{
    margin-top: 10px;
    margin-bottom: 5%;

}

.footer-contato li a{
    text-decoration: none;
    color: white;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 23px;
}